.input-search {
  display: flex;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.input {
  width: 100%;
  border: none;
  padding: 8px;
  font-size: 16px;
  outline: none;
}

.icon-button {
  background-color: #f1f1f1;
  border: none;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
}